/* общие стили */
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

ul {
    margin: 0;
    padding: 0;
}

.container {
    width: 1142px;
    margin: 0 auto;
}

/* стили хэдера */

.header__info {
    height: 97px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #DDDDDD solid 1px;
}

.header__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.motto {
    color: #434A5C;
    font-size: 14px;
}

.contacts__text {
    color: #45536D;
    font-size: 14px;
    margin-right: 20px;
    text-decoration: underline;
    text-transform: uppercase;
    transition: 0.5s;
}

.contacts__text:hover {
    color: #BF6024;
}

.contacts__number {
    color: #3D3D3D;
    font-size: 20px;
    font-family: 'Podkova', serif;
    font-weight: 700;
    transition: 0.5s;
}

.contacts__number__h {
    text-decoration: none;
}

.contacts__number:hover {
    color: #BF6024;
}

.header__menu-list__item {
    color: #7A7A7A;
    font-size: 14px;
}

.header__menu-list a:hover {
    color: #141414;
}

.header__menu {
    height: 78px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-transform: uppercase;
}

.header__menu-list a {
    text-decoration: none;
    color: #7A7A7A;
    font-size: 14px;
}

.header__menu-list-left {
    width: 624px;
}

.header__menu-list-right {
    width: 305px;
}

.logo__img {
    margin-right: 25px;
}

/* стили секции баннера */

.main-banner-section__slogan {
    font-size: 64px;
    font-weight: 700;
    font-family: 'Podkova', serif;
    color: #141414;
    text-transform: uppercase;
}

/* стиди секции развлечения */

.benefits__title {
    color: #BF6024;
    font-size: 28px;
    font-weight: 600;
    font-family: 'Podkova', serif;
    padding-top: 55px;
}

.benefits__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    border-bottom: #DDDDDD solid 1px;
    padding-bottom: 25px;
}

.benefits__block__title {
    font-size: 16px;
    font-weight: 400;
    color: #141414;
}

.benefits__block__section {
    padding-bottom: 55px;
}


/* стили секции проживание на курорте */

.products__promo__title {
    color: #BF6024;
    font-size: 28px;
    font-weight: 600;
    font-family: 'Podkova', serif;
    padding-top: 80px;
    margin-top: 0;
}

.products {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 30px;
    border-bottom: #DDDDDD solid 1px;
    padding-bottom: 80px;
}

.products__apart-elem {
    grid-row: 1/3;
    background-image: url(./images/aframe-houses.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    align-items: flex-end;
}

.products__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding-bottom: 40px;
    padding-left: 40px;
}

.products__text__title {
    font-size: 24px;
    font-weight: 600;
    color: #ffffff;
    margin: 0;
}

.products__elem {
    background-color: #F3F6FA;
    display: flex;
    width: 555px;
    flex-direction: column;
    justify-content: center;
    padding-left: 68px;
    box-sizing: border-box;

}

.products__title {
    color: #141414;
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}

.products__decs {
    color: #141414;
    font-size: 14px;
}

.btn__box {
    width: 340px;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

/* кнопки */

.btn {
    width: 160px;
    height: 34px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    line-height: 128%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    text-transform: uppercase;
}

.btn-primary {
    color: #ffffff;
    background-color: #BF6024;
    transition: 0.5s;
}

.btn-primary:hover {
    background-color: #F2BE9D;
    color: #141414;
}

.btn-secondary {
    color: #BF6024;
    border: #BF6024 solid 1px;
    box-sizing: border-box;
    transition: 0.5s;
}

.btn-secondary:hover {
    color: #141414;
    background-color: #F2BE9D;
    border: #F2BE9D solid 1px;
    box-sizing: border-box;
}

.btn-more {
    color: #F2BE9D;
    border: #F2BE9D solid 1px;
    box-sizing: border-box;
    transition: 0.5s;
}

.btn-more:hover {
    color: #141414;
    background-color: #F2BE9D;
}

/* стили футера */
.footer {
    height: 196px;
}

.footer__info {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__info__text {
    font-size: 14px;
    color: #424242;
}

.footer__info__h {
    font-size: 14px;
    color: #45536D;
    text-decoration: underline;
    transition: 0.5s;
}

.footer__info__h:hover {
    color: #BF6024;
}